pacbridge-app/src/main/resources/zedi/pacbridge/app/events/ConnectEvent.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="eventStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Created" />
            <xs:enumeration value="Pending" />
            <xs:enumeration value="Running" />
            <xs:enumeration value="Success" />
            <xs:enumeration value="Failed" />
            <xs:enumeration value="Cancelled" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="eventActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="delete" />
            <xs:enumeration value="poll" />
            <xs:enumeration value="report" />
            <xs:enumeration value="reboot" />
        </xs:restriction>
    </xs:simpleType>
    
    <!-- 
        Defines a type that is a UTC time value expressed as the number of seconds since
        January 1, 1970.
     -->
    <xs:complexType name="utcTimestampType">
        <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
                <xs:attribute name="utcTime" type="utcTimestampStringType" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <!--
        Defines the acceptable value for the the utcTime attribute that can be added to utcTimestampType elements. The general format of the timestamp is: yyyy-mm-dd HH:mm:ssZ Example: 2009-04-10 12:15:45Z
    -->
    <xs:simpleType name="utcTimestampStringType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}Z" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ipAddressType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="deviceEventType">
        <xs:all>
            <xs:element name="EventAction" type="eventActionType" />
            <xs:element name="Index" type="xs:unsignedInt" />
            <xs:element name="Parameter1" type="xs:unsignedInt" />
            <xs:element name="Parameter2" type="xs:unsignedInt" />
            <xs:element name="StartTime" type="utcTimestampType" />
            <xs:element name="Interval" type="xs:unsignedLong" />
            <xs:element name="Duration" type="xs:unsignedLong" />
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="dataTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EmptyValue" />
            <xs:enumeration value="Discrete" />
            <xs:enumeration value="Byte" />
            <xs:enumeration value="UnsignedByte" />
            <xs:enumeration value="Integer" />
            <xs:enumeration value="UnsignedInteger" />
            <xs:enumeration value="Long" />
            <xs:enumeration value="UnsignedLong" />
            <xs:enumeration value="Float" />
            <xs:enumeration value="Binary" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ioPointClassType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="System" />
            <xs:enumeration value="RTU" />
            <xs:enumeration value="IOBoard" />
            <xs:enumeration value="Network" />
            <xs:enumeration value="Application" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ioPointType">
        <xs:all>
            <xs:element name="DataType" type="dataTypeType" />
            <xs:element name="Index" type="xs:unsignedInt" />
            <xs:element name="F1" type="xs:unsignedInt" />
            <xs:element name="F2" type="xs:unsignedInt" />
            <xs:element name="F3" type="xs:unsignedInt" />
            <xs:element name="F4" type="xs:unsignedInt" />
            <xs:element name="PollsetNumber" type="xs:unsignedInt" />
            <xs:element name="RtuAddress" type="xs:unsignedInt" />
            <xs:element name="Factor" type="xs:decimal" />
            <xs:element name="Offset" type="xs:decimal" />
            <xs:element name="IoPointClass" type="ioPointClassType" />
        </xs:all>
    </xs:complexType>
    <xs:simpleType name="alarmTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="high" />
            <xs:enumeration value="highHigh" />
            <xs:enumeration value="low" />
            <xs:enumeration value="lowLow" />
            <xs:enumeration value="hysteresis" />
            <xs:enumeration value="dataUnavailable" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="eventNameType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTADPending" />
            <xs:enumeration value="DemandPoll" />
            <xs:enumeration value="AddExtendedIOPoint" />
            <xs:enumeration value="AddIOPoint" />
            <xs:enumeration value="DeleteIOPoint" />
            <xs:enumeration value="SetIOPointValue" />
            <xs:enumeration value="SetAlarms" />
            <xs:enumeration value="SetExtendedAlarms" />
            <xs:enumeration value="SetEvents" />
            <xs:enumeration value="ConfigureAlarm" />
            <xs:enumeration value="RawDataReceived" />
            <xs:enumeration value="IORefresh" />
            <xs:enumeration value="EventResponse" />
            <xs:enumeration value="MockEvent" />
            <xs:enumeration value="Noop" />
            <xs:enumeration value="Otad" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="eventQualifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Connect" />
            <xs:enumeration value="PAC" />
        </xs:restriction>
    </xs:simpleType>
    <!--
        A extendedAlarmValueType contains information on setting an alarm limit for a specific alarm type. If the alarm is enabled (i.e. "Enabled" tag is "true") then you must provide the LimitValue, HysteresisValue, SetTime, and ClearTime. The DataType
        element is optional and may be omitted. It is present for backward compatability
    -->
    <xs:complexType name="extendedAlarmValueType">
        <xs:sequence>
            <xs:element name="AlarmType" type="alarmTypeType" />
            <xs:element name="Enabled" type="xs:boolean" />
            <xs:sequence minOccurs="0">
                <xs:element name="LimitValue" type="xs:decimal" />
                <xs:element name="DataType" type="dataTypeType" minOccurs="0" maxOccurs="1" />
                <xs:element name="HysteresisValue" type="xs:decimal" />
                <xs:element name="SetTime" type="xs:unsignedLong" />
                <xs:element name="ClearTime" type="xs:unsignedLong" />
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="deviceEventLiteType">
        <xs:all>
            <xs:element name="StartTime" type="utcTimestampType" />
            <xs:element name="Interval" type="xs:unsignedInt" />
            <xs:element name="Duration" type="xs:unsignedLong" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="eventSchdeduleType">
        <xs:sequence>
            <xs:element name="DeviceEventBasic" type="deviceEventLiteType" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <!--
        A standardAlarmValueType contains information on setting an alarm limit for a specific alarm type. If the alarm is enabled (i.e. "Enabled" tag is "true") then you must provide the LimitValue. The DataType element is optional and may be omitted. It
        is present for backward compatability
    -->
    <xs:complexType name="standardAlarmValueType">
        <xs:sequence>
            <xs:element name="AlarmType" type="alarmTypeType" />
            <xs:element name="Enabled" type="xs:boolean" />
            <xs:sequence minOccurs="0">
                <xs:element name="LimitValue" type="xs:decimal" />
                <xs:element name="DataType" type="dataTypeType" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ioPointAlarmsType">
        <xs:choice>
            <xs:element name="ExtendedAlarmValue" type="extendedAlarmValueType" minOccurs="1" maxOccurs="unbounded" />
            <xs:element name="StandardAlarmValue" type="standardAlarmValueType" minOccurs="1" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attribute name="index" type="xs:unsignedInt" use="required" />
        <xs:attribute name="dataType" type="dataTypeType" use="required" />
    </xs:complexType>
    <xs:complexType name="writeValueType">
        <xs:all>
            <xs:element name="DataType" type="dataTypeType" />
            <xs:element name="Index" type="xs:unsignedInt" />
            <xs:element name="Value" type="xs:string" />
        </xs:all>
    </xs:complexType>
    <xs:element name="Event">
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element name="IpAddress" type="xs:string" />
                    <xs:element name="NetworkNumber" type="xs:unsignedInt" />
                    <xs:element name="RawDataReceived">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="SiteReport" type="xs:string" minOccurs="1" maxOccurs="1" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:sequence>
                    <xs:element name="EventId" type="xs:string" />
                    <xs:choice>
                        <xs:sequence>
                        <!--  Event Response Event  -->
                            <xs:element name="EventResponse">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Status" type="xs:string" />
                                        <xs:element name="Message" type="xs:string" />
                                        <xs:element name="EventData" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:sequence>
                            <xs:element name="IpAddress" type="xs:string" />
                            <xs:element name="NetworkNumber" type="xs:unsignedInt" />
                            <xs:element name="SerialNumber" type="xs:string" />
                            <xs:element name="FirmwareVersion" type="xs:unsignedInt" />
                            <xs:element name="EventSchedule" type="eventSchdeduleType" minOccurs="0" maxOccurs="1" />
                            <xs:choice>
                            <!-- For AddIOPointEvent -->
                                <xs:element name="AddIOPoint">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="IoPoint" type="ioPointType" minOccurs="1" maxOccurs="1" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>

                            <!-- For AddExtendedIOPointEvent -->
                                <xs:element name="AddExtendedIOPoint">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="IoPoint" type="ioPointType" minOccurs="1" maxOccurs="1" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>

                            <!-- For Noop -->
                                <xs:element name="Noop">
                                </xs:element>

                            <!-- For the ConfigureAlarmEvent -->
                                <xs:element name="ConfigureAlarm">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="DataType" type="dataTypeType" />
                                            <xs:element name="Index" type="xs:unsignedInt" />
                                            <xs:element name="AlarmValues">
                                                <xs:complexType>
                                                    <xs:choice>
                                                        <xs:element name="ExtendedAlarmValue" type="extendedAlarmValueType" minOccurs="1" maxOccurs="unbounded" />
                                                        <xs:element name="StandardAlarmValue" type="standardAlarmValueType" minOccurs="1" maxOccurs="unbounded" />
                                                    </xs:choice>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>

                            <!-- Delete IO Point -->
                                <xs:element name="DeleteIOPoint">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Index" type="xs:unsignedInt" />
                                            <xs:element name="PollsetNumber" type="xs:unsignedInt" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                    
                            <!-- Demand Poll -->
                                <xs:element name="DemandPoll">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Index" type="xs:unsignedInt" />
                                            <xs:element name="PollsetNumber" type="xs:unsignedInt" />
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                
                            <!-- Set Events -->
                                <xs:element name="SetEvents">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="DeviceEvents">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="DeviceEvent" type="deviceEventType" minOccurs="1" maxOccurs="unbounded" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>

                            <!-- Set IO Point Value  -->
                                <xs:element name="SetIOPointValue">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="WriteValue" type="writeValueType" minOccurs="1" maxOccurs="1" />
                                        </xs:all>
                                    </xs:complexType>
                                </xs:element>

                            <!--  OTAD Pending Event -->
                                <xs:element name="OTADPending">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="OTADPendingId" type="xs:unsignedInt" />
                                        </xs:all>
                                    </xs:complexType>
                                </xs:element>

                            <!--  OTAD Pending Event -->
                                <xs:element name="Otad">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="ImageData" type="xs:string" />
                                        </xs:all>
                                    </xs:complexType>
                                </xs:element>

                            <!-- IORefresh -->
                                <xs:element name="IORefresh">
                                    <xs:complexType>
                                        <xs:all>
                                            <xs:element name="IoPoints">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="IoPoint" type="ioPointType" minOccurs="1" maxOccurs="unbounded" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Alarms">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="IoPointAlarms" type="ioPointAlarmsType" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="WriteValues">
                                                <xs:complexType>
                                                    <xs:choice>
                                                        <xs:element name="WriteValue" type="writeValueType" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:choice>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="DeviceEvents">
                                                <xs:complexType>
                                                    <xs:choice>
                                                        <xs:element name="DeviceEvent" type="deviceEventType" minOccurs="0" maxOccurs="unbounded" />
                                                    </xs:choice>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:all>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                    </xs:choice>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="name" type="eventNameType" use="required" />
            <xs:attribute name="qualifier" type="eventQualifierType" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>